export NODE_ENV=development
export DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public
export PORT=4000
export ALLOWED_ORIGIN=http://localhost:3000
export SESSION_SECRET=toto
export REGISTRY_HOST=localhost
export REGISTRY_PORT=4444
export REGISTRY_SECRET=highfive
