export NODE_ENV=development
export DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public
export PORT=4000
export ALLOWED_ORIGIN=http://localhost:3000
export SESSION_SECRET=toto
export FRONTEND_URL=http://localhost:3000
export BUCKET_NAME=registry-c3pm
export REGISTRY_API_SECRET=SECRET
export REGISTRY_API_KEY=KEY
