export NODE_ENV=development
export DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres?schema=public
export PORT=4000
export ALLOWED_ORIGIN=http://localhost:3000
export SESSION_SECRET=toto
export FRONTEND_URL=http://localhost:3000
export REGISTRY_BUCKET_NAME=registry-c3pm-io
export REGISTRY_SECRET=SECRET
export REGISTRY_KEY=KEY
export REGISTRY_URL=http://localhost:4569

